
.input {
    position: 100px 50px;  
    /* top: 150%;
    right: 10%;
    width: 15%;  */
    height:auto;  
 
}
h1{
	font-size: 35px;
    font-weight: 700;
    background-color: #007bff;
	color: white;
    margin: 10px;
	padding: 10px;
    text-align: end;
}
.img-ads{
  margin-top: 29px;
  display: flex;
  flex-direction: column;
}
.btn-save{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;}
.btn-location{
  width: 86px;
    border-radius: 5px;
    color: white;
    border: 0px solid;
    background-color: #007bff;
    padding: 5px 14px;
    margin-top: 46px;
}
.btn-location-save{
  width: 65px;
  border: 1px solid;
  border-radius: 2px;
  margin-left: 10px;
  height: 33px;
}
.map{
  margin-left: 35px;
}
input[type="file"] {
  width: 230px;
}
  .topcorner{
    margin-top: 22px;
    margin-right: 50px;
    
   }
  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    /* background-color: #ccc; */
    cursor: pointer;
  }
  
  /* option active styles */
  datalist option:hover, datalist option:focus {
    color: rgb(206, 61, 61);
    background-color: #036;
    outline: 0 none;
  }
  .input-location{
    display: flex;
    direction: rtl;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
.input-location input{
  margin-right: 15px;
  padding: 10px;
}
.lacation-date{
  margin-right: 10px;
  direction: rtl;
}

