.location-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input {
    position: 100px 50px;  
    /* top: 150%;
    right: 10%;
    width: 15%;  */
    height:auto;  
 
}
.form-loc{
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-loc{
  margin: 20px 10px 0px 10px;
}
h1{
    font-size: 35px;
    font-weight: 700;
    background-color: #007bff;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: end;
}
.img-ads{
  margin-top: 29px;
  display: flex;
  flex-direction: column;
}
.btn-save{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;}
.btn-location{
  width: 86px;
    border-radius: 5px;
    color: rgb(12, 11, 11);
    border: 0px solid;
    background-color: #ffe600;
    padding: 5px 14px;
    margin: 20px 15%;
}
.btn-location-save{
  width: 65px;
  border: 1px solid;
  border-radius: 2px;
  margin: 0px 10px;
  height: 33px;
}
.map{
  margin-left: 35px;
  width: 50%;
  height: 70%;
  position: absolute;
  transform: translateX(-700px);
}
input[type="file"] {
  width: 230px;
  margin: 0px 10px;
}

  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    /* background-color: #ccc; */
    cursor: pointer;
  }
  
  /* option active styles */
  datalist option:hover, datalist option:focus {
    color: rgb(206, 61, 61);
    background-color: #036;
    outline: 0 none;
  }
  .input-location{
    display: flex;
    direction: rtl;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
.input-location input{
  margin-right: 15px;
  padding: 10px;
}
.lacation-date{
  margin-right: 10px;
  direction: rtl;
}

