.container-home{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: url("http://megamedia.co.il/wp-content/uploads/2018/01/Untitled_Panorama2.jpg");
}
.container-home .center{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 22px 46px;
  border-radius: 17px; 
}
.container-login{
  border-radius: 15px;
  width: 350px;
  background-color: white;
}
.container-sign-in {
  height: 350px;
  border-radius: 15px;
  direction: rtl;
  display: flex;
  background-color: white;
}
.login{
  height: 100px;
}
 .element{
    text-align: center;    
} 
.input-sign-in{
  border-radius: 6px;
    border: 2px solid #11110f;
    margin: 10px;
    padding: 5px;
}

.btn-sign-in{
  background-color: #f7f707;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}
.new-client{
  margin-top: 5px;
}
.new-client .MuiButton-label{
  background-color: transparent;
  color: #131311;
  font-size: 20px;
  font-weight: 600;
}
.enter .MuiButton-label{
  background-color: transparent;
  font-size: 20px;
  font-weight: 600; 
}
.MuiInputLabel-animated {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.MuiFormLabel-root{
  font-size: 20px;
  color: aqua;
}
